
.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../images/wing.jpeg');
  color: whitesmoke;
}

.titleCont {
  background: #1818187c;
  width: 100vw;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 900;
}

.title {
  font-size: 100px;
  letter-spacing: 4px;
  margin: 0;
  text-align: center;

}

.title > span {
  font-size: 75px;
}

.subtitle {
  margin: 0;
  font-size: 30px;
  text-align: right;
  padding-right: 20vw;
  margin-top: 20px;
}

@media (max-width: 500px){
  .titleCont {
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .title {
    font-size: 30px;
    padding: 0px;
    letter-spacing: 1px;
  }
  .title > span {
    font-size: 20px;
  }
  .subtitle {
    font-size: 14px;
    padding: 0px;
    text-align: center;
  }
}

@media (min-width: 501px) and (max-width: 900px){
  .titleCont {
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .title {
    font-size: 60px;
    padding: 0px;
    letter-spacing: 1px;
  }
  .title > span {
    font-size: 45px;
  }
  .subtitle {
    font-size: 20px;
    padding: 0px;
    text-align: right;
    width: 80%;
  }
}

@media (min-width: 901px) and (max-width: 1199px){
  .titleCont {
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .title {
    font-size: 80px;
    padding: 0px;
    letter-spacing: 1px;
  }
  .title > span {
    font-size: 60px;
  }
  .subtitle {
    font-size: 30px;
    padding: 0px;
    text-align: right;
    width: 80%;
  }
}